@{ Layout = "_Layout";}

<form action ="/assignee/add" method="post">
    <label for="assignee">Assignee Name: </label>
    <input type="text" name="Name" required />
    <input type="email" name="Email" id="email" />
    <button type="submit">Add</button>
</form>
