@{ Layout= "_Layout";}

<form action="/todo/add" method="post">
    <label for="action">Action</label>
    <input type="text" name="Title" value="" required />
    <br />
   
    <button type="submit">Add</button>
</form>